<h3> Student Information</h3>
<div class="card" style="width:400px" *ngIf="childStudentDetail">
  <img [src]="childStudentDetail.avatar" alt="image">
  <div class="card-body">
    <p>Student ID: {{childStudentDetail.id}}</p>
    <p>Student Name: {{childStudentDetail.name}}</p>
    <p>Student Age: {{childStudentDetail.age}}</p>
    <p>Student Mark: {{childStudentDetail.mark}}</p>
  </div>
  <label>Chấm điểm:<input type="number" min="0" max="10" (change)="changeMarkForStudent($event.target.value)"></label>
</div>
