<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span
          class="d-none d-md-inline-block">info@yourdomain.com</span></a>
        <span class="mx-md-2 d-inline-block"></span>
        <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">1+ (234)
              5678 9101</span></a>

        <div class="float-right">

          <a href="#" class=""><span class="mr-2 bi fas fa-sign-in-alt"></span> <span
            class="d-none d-md-inline-block">Đăng Nhập</span></a>
          <span class="mx-md-2 d-inline-block"></span>
          <a href="#" class=""><span class="mr-2  fas fa-user-plus"></span> <span
            class="d-none d-md-inline-block">Đăng Ký</span></a>

        </div>

      </div>

    </div>

  </div>
</div>
<nav class="site-navbar js-sticky-header site-navbar-target" role="banner">
  <div class="container">
    <div class="row align-items-center position-relative">


      <div class="site-logo">
        <a href="#" class="text-black"><span class="text-primary">CODEGYM</span></a>
      </div>

      <div class="col-12">
        <nav class="site-navigation text-right ml-auto " role="navigation">

          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li><a href="#" class="nav-link">Quản lý phòng họp</a></li>
            <li><a href="#" class="nav-link">Quản lý tài sản</a></li>


            <li><a href="#" class="nav-link">Quản lý người dùng</a></li>

            <li><a href="#" class="nav-link">Thống kê</a></li>
            <li class="has-children">
              <a href="#" class="nav-link">Xem Phản Hồi</a>
              <ul class="dropdown arrow-top">
                <li><a href="#" class="nav-link">Phản Hồi Phòng Họp</a></li>
                <li><a href="#" class="nav-link">Phản Hồi Hệ Thống</a></li>
                <li><a href="#" class="nav-link">Danh Sách Phản Hồi</a></li>

              </ul>
            </li>
          </ul>
        </nav>

      </div>

      <div class="toggle-button d-inline-block d-lg-none"><a href="#"
                                                             class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

    </div>
  </div>
</nav>
<nav class="navbar navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/src/assets/angularjs-logo-javascript-png-favpng-x5duQmnxfeA9TuRc3S19bzhjz.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">CaseStudy</a>
      <a class="nav-link active" routerLink="add">Add Customer</a>
      <a class="nav-link active" routerLink="list">List Customer</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

